body, html { /* sets margins; enables smooth scrolling; sets a modern font */
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

@keyframes gradientAnimation { /* keyframes for introduction section background grandient changes */
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 100% 50%;
    }
    50% {
      background-position: 0% 50%;
    }
    75% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  #introduction { /* animates the introduction section background grandient changes */
    background-size: 200% 200%;
    margin-top: -env(safe-area-inset-top); /* adjusts for the notch and status bar on iOS */
    padding-top: env(safe-area-inset-top); /* adds padding to account for the status bar */ 
    background-image: linear-gradient(45deg,
      #f6d6e9 0%,   /* pastel pink */
      #fde2c8 14%,  /* pastel orange */
      #fbf8cc 28%,  /* pastel yellow */
      #e2f0cb 42%,  /* pastel green */
      #cbe4f9 57%,  /* pastel blue */
      #d6d6eb 71%,  /* pastel indigo */
      #f5d6e9 85%,  /* pastel violet */
      #f6d6e9 100%); /* pastel pink to create a smooth transition */
    animation: gradientAnimation 30s ease infinite;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    position: relative;
 }

#introduction .text-container { /* sets introduction text block parameters */
    margin: 0 auto;
    text-align: center;
    z-index: 5; /* push to front */
}

#introduction h1 { /* 'Hey there!' text parameters */
    font-size: 6rem;
    font-weight: bold;
    color: #333;
    margin: 0rem;
}

#introduction p { /* my name is and quip text parameters */
    max-width: 90vw;
    font-size: 3.5em;
    color: #333;
    margin: 0px;
    margin-bottom: 5rem;
}

#introduction p#dynamic-text { /* sets quip text color */
    font-weight: normal;
    color: #0f0;
}

#dynamic-text { /* draws the console section and sets quip text size */
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    border-radius: 5px;
    font-size: 3rem;
    white-space: pre-wrap;
    overflow: hidden;
    line-height: 1.5em;
    height: 3.5em;
    width: 90vw;
    display: table-cell;
    align-items: center;
    justify-content: center;
    min-width: 0;
    position: relative;
    vertical-align: middle;
}

.cursor {
  display: inline-block; /* ensures cursor aligns correctly with text */
  animation: blink-animation 1s infinite;
}

@keyframes blink-animation { /* cursor animation keyframes */
  50% { opacity: 0; }
}

@media (max-width: 768px) {
  #introduction h1 { /* adjust 'Hey there!' text size for smaller screens */
      font-size: 4rem; 
  }

  #introduction p { /* adjust name and quip text size for smaller screens */
      font-size: 2rem;
  }

  #dynamic-text { /* adjust console section and text size for smaller screens */
      font-size: 2rem;
      padding: 5px;
      line-height: normal;
      max-width: 90vw;
      height: 6em;
  }

  .cursor { /* ensure the cursor size matches the adjusted text size */
      font-size: 2rem;
  }

  #introduction .text-container {
      width: 85%; /* decrease width */
  }
}