body, html { /* sets margins; enables smooth scrolling; sets a modern font */
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

@keyframes gradientAnimation { /* keyframes for introduction section background grandient changes */
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 100% 50%;
    }
    50% {
      background-position: 0% 50%;
    }
    75% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  #introduction { /* animates the introduction section background grandient changes */
    background-size: 400% 400%;
    background-image: linear-gradient(45deg,
      #f6d6e9 0%,   /* pastel pink */
      #fde2c8 14%,  /* pastel orange */
      #fbf8cc 28%,  /* pastel yellow */
      #e2f0cb 42%,  /* pastel green */
      #cbe4f9 57%,  /* pastel blue */
      #d6d6eb 71%,  /* pastel indigo */
      #f5d6e9 85%,  /* pastel violet */
      #f6d6e9 100%); /* pastel pink to create a smooth transition */
    animation: gradientAnimation 30s ease infinite;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    position: relative;
  }

#introduction .text-container { /* sets introduction text block parameters */
    margin: 0 auto;
    text-align: center;
    z-index: 5; /* push to front */
}

#introduction h1 { /* 'Hey there!' text parameters */
    font-size: 6rem;
    font-weight: bold;
    color: #333;
    margin: 0rem;
}

#introduction p { /* my name is and quip text parameters */
    max-width: 90vw;
    font-size: 3.5em;
    color: #333;
    margin: 0px;
}

#introduction p#dynamic-text { /* sets quip text color */
    font-weight: normal;
    margin-top: 5rem;
    color: #0f0;
}

#dynamic-text { /* draws the console section and sets quip text size */
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    border-radius: 5px;
    font-size: 3rem;
    white-space: pre-wrap;
    overflow: hidden;
    line-height: 1.5em;
    height: 3.5em;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 0;
    position: relative;
}

.cursor { /* create cursor that appears after the quip */
    opacity: 1;
    animation: blink-animation 1s infinite;
}

@keyframes blink-animation { /* keyframes to make the cursor blink */
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.blink { /* makes the cursor blink */
    animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes slideInFromRight {
    from {
        right: -100%; /* start from outside the screen */
        opacity: 0;
    }
    to {
        right: 0; /* final position */
        opacity: 1;
    }
}

.intro-nav {
    opacity: 0;
    position: absolute;
    font-style: italic;
    z-index: 10; /* push on top */
    font-size: 2.5rem;
    margin-right: 5%;
    top: 18vh;
    text-align: right;
    animation: slideInFromRight 0.5s ease-out forwards; /* use the animation */
    animation-delay: 1s; /* delay the animation until after the page loads */
}

.intro-nav a {
    display: block;
    margin: 10px 0;
    background-color: #333;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s; /* smooth transition for color and background */
}

.intro-nav a:hover, .intro-nav a:focus {
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
}
