---
// Imports modules and displays them on initial page load

import AboutMe from '../components/IndexWidgets.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Amber Caravalho - Cybersecurity Analyst" language="en" description="Discover my experience in securing large-scale networks, managing complex cybersecurity systems, and leading diverse teams. Check out some of my personal projects that reflect my ingenuity and creativity.">
	<main class="flex flex-col m-5">
    <section class="grid max-w-screen-lg lg:grid-cols-4 md:grid-cols-4 grid-cols-2 gap-2 md:gap-4 my-5 mx-auto lg:px-20">
      <AboutMe/>
    </section>
	</main>
</Layout>
